---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [ ]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [ ]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [35]:
def read_olympics_data1():
    import pandas as pd
    df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

    for col in df.columns:
        if col[:2]=='01':
            df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
        if col[:2]=='02':
            df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
        if col[:2]=='03':
            df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
        if col[:1]=='№':
            df.rename(columns={col:'#'+col[1:]}, inplace=True)

    names_ids = df.index.str.split('\s\(') # split the index by '('

    df.index = names_ids.str[0] # the [0] element is the country name (new index) 
    df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)
    df = df.drop('Totals')
    
    return df

def answer_one():
    df= read_olympics_data1()
    max= df['Gold'].max()
    #gold_summer =df[df.columns[1]]
    gold_summer =df['Gold']
    return gold_summer[gold_summer==max].index[0]

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [34]:
def read_olympics_data2():
    import pandas as pd
    df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

    for col in df.columns:
        if col[:2]=='01':
            df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
        if col[:2]=='02':
            df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
        if col[:2]=='03':
            df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
        if col[:1]=='№':
            df.rename(columns={col:'#'+col[1:]}, inplace=True)

    names_ids = df.index.str.split('\s\(') # split the index by '('

    df.index = names_ids.str[0] # the [0] element is the country name (new index) 
    df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)
    df = df.drop('Totals')
    
    return df

def answer_two():

    df=read_olympics_data2()

    country_diff_max = diff_max =0

    for country in df.index:
        summer = df.loc[country]['Gold']
        winter = df.loc[country]['Gold.1']
        diff = summer - winter
        if diff > diff_max:
            diff_max = diff
            country_diff_max = country

    return country_diff_max

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [33]:
def read_olympics_data3():
    import pandas as pd
    df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

    for col in df.columns:
        if col[:2]=='01':
            df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
        if col[:2]=='02':
            df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
        if col[:2]=='03':
            df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
        if col[:1]=='№':
            df.rename(columns={col:'#'+col[1:]}, inplace=True)

    names_ids = df.index.str.split('\s\(') # split the index by '('

    df.index = names_ids.str[0] # the [0] element is the country name (new index) 
    df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)
    df = df.drop('Totals')
    df = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    
    return df

def answer_three():
    
    df=read_olympics_data3()
    counrey_diff_max = diff_max =0

    for country in df.index:
        summer = df.loc[country]['Gold']
        winter = df.loc[country]['Gold.1']
        diff = (summer - winter)/(summer + winter)
        if diff > diff_max:
            diff_max = diff
            country_diff_max = country

    return country_diff_max    

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [32]:
def read_olympics_data4():
    import pandas as pd
    df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

    for col in df.columns:
        if col[:2]=='01':
            df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
        if col[:2]=='02':
            df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
        if col[:2]=='03':
            df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
        if col[:1]=='№':
            df.rename(columns={col:'#'+col[1:]}, inplace=True)

    names_ids = df.index.str.split('\s\(') # split the index by '('

    df.index = names_ids.str[0] # the [0] element is the country name (new index) 
    df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)
    df = df.drop('Totals')
    
    return df


def answer_four():
    df=read_olympics_data4()
    
    df['Points'] = df['Gold.2']*3 + df['Silver.2']*2 +df['Bronze.2'] 

    return df['Points']

answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [18]:
import pandas as pd

census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [19]:
def read_census_data1():
    import pandas as pd
    df1 = pd.read_csv('census.csv')
    df1 = df1[df1["SUMLEV"] == 50]
    col_to_keep = ['COUNTY','STNAME','CTYNAME']
    df1 = df1[col_to_keep]
    return df1

def answer_five():
    df2=read_census_data1()
    #max_n_county=0

    
    df2 = df2.groupby('STNAME').size().sort_values(ascending=False).head(1)
    
    
    #for i in df2.index:
    #    n_county = df2.loc[i]['COUNTY']
    #    state = df2.loc[i]['STNAME']
    #    if n_county > max_n_county:
    #        max_n_county = n_county
    #        max_n_county_state = state    

    #df_1=df.sort_values(['STNAME','COUNTY'],ascending=[True,False]).groupby(['STNAME']).head(1).sort_values('COUNTY',ascending=False).head(1)
    #df_1['state']= df_1.index
    #df_1.iloc[0]['state']
            
    #return max_n_county_state
    return df2.index[0]

answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [29]:
def read_census_data2():
    import pandas as pd
    df = pd.read_csv('census.csv')
    df = df[df["SUMLEV"] == 50]
    col_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
    df = df[col_to_keep]
    return df


def answer_six():
    df=read_census_data2()

    #sorting df by state (ascending) and by population (descending) using sort_values
    df_sorted = df.sort_values(['STNAME','CENSUS2010POP'],ascending=[True,False])
    
    #grouping by state using groupby (this returns a GroupBy object) and selecting the first 3 counties using head(3)
    df_sorted_grouped = df_sorted.groupby(['STNAME']).head(3)
    #df_sorted_grouped is a dataframe object
    
    #getting a series containing the states and the total population of the 3 most populated counties
    s_state_pop = df_sorted_grouped.groupby(['STNAME'])['CENSUS2010POP'].sum()
    
    #Sorting in descending way and taking the 3 most populated with head(3)
    s_state_most_pop = s_state_pop.sort_values(ascending=False).head(3)
    
    #creating a list
    l = list(s_state_most_pop.index)
    
    return l
    
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [41]:
def read_census_data3():
    import pandas as pd
    df = pd.read_csv('census.csv')
    df = df[df["SUMLEV"] == 50]
    col_to_keep = ['CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
    df = df[col_to_keep]
    return df

def answer_seven():
    df = read_census_data3()
    
    #create (broadcast) a new column called 'Pop Channge'
    df['Pop Change'] = None
    
    #set index for the county
    #df= df.set_index('CTYNAME')
    
    #computing the pop change by getting the max and the min of the columns
    df['Pop Change'] = df.max(axis=1) - df.min(axis=1)
     
    #getting the maximum pop change of all counties     
    max_value = df['Pop Change'].max(axis=0)
     
    #applying a mask with the max_value to get a single row
    df_masked = df[df['Pop Change'] == max_value]
    
    #reset the index
    df_masked = df_masked.reset_index()
    
    #getting the string
    county = df_masked.iloc[0]['CTYNAME']
    
    return county

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [27]:
def read_census_data4():
    import pandas as pd
    df = pd.read_csv('census.csv')
    df = df[df["SUMLEV"] == 50]
    col_to_keep = ['STNAME','CTYNAME','REGION','POPESTIMATE2014','POPESTIMATE2015']
    df = df[col_to_keep]
    return df

def answer_eight():
    df = read_census_data4()
    
    #the conditions
    df_new = df[(df['REGION']<3) & (df['CTYNAME'].str.startswith('Washington')) & (df['POPESTIMATE2015'] > df['POPESTIMATE2014'])]
    
    #selecting only state and county columns
    df_new = df_new[['STNAME','CTYNAME']]
    
    return df_new

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County